/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;
  --font-display: "Playfair Display", serif;

  --shadow-sm: 0 2px 4px rgba(0, 0, 0, 0.08), 0 1px 10px rgba(0, 0, 0, 0.06);
}

@layer base {
  body {
    @apply font-inter;
  }
}
